<GridLayout columns="*, *, *,*" rows="50, *, *,50">
    <GridLayout row="0" rowspan="4" column="4" backgroundColor="green">
        <Label text="Label 3" textAlignment="center" verticalAlignment="center"></Label>

    </GridLayout>
    <GridLayout row="1" column="0" backgroundColor="yellow">
        <Label text="Label 4" textAlignment="center" verticalAlignment="center"></Label>

    </GridLayout>
    <GridLayout row="2" column="0" backgroundColor="red">
        <Label text="Label 5" textAlignment="center" verticalAlignment="center"></Label>

    </GridLayout>
    <GridLayout row="4" column="1" backgroundColor="blue">
        <Label text="Label 7" textAlignment="center" verticalAlignment="center"></Label>

    </GridLayout>
    <GridLayout row="4" column="2" backgroundColor="yellow">
        <Label text="Label 8" textAlignment="center" verticalAlignment="center"></Label>

    </GridLayout>
    <GridLayout row="4" column="0" backgroundColor="pink">
        <Label text="Label 2" textAlignment="center" verticalAlignment="center"></Label>

    </GridLayout>

    <GridLayout row="1" rowspan="2" column="1" colspan="2" backgroundColor="purple">
        <Label text="Label 6" textAlignment="center" verticalAlignment="center"></Label>
    </GridLayout>

    <GridLayout row="0" colspan="3" column="0" backgroundColor="blue">
        <Label text="Label 1" textAlignment="center" verticalAlignment="center"></Label>
    </GridLayout>
</GridLayout>